@font-face {
    font-family: "Krona One";
    src: url(fonts/KronaOne-Regular.ttf);
}

@font-face {
    font-family: "Open Sans";
    src: url(fonts/OpenSans-VariableFont_wdth\,wght.ttf);
}

.heading {
    /* We Love the Sun as much as Earth! */

    position: relative;
    width: 289px;
    height: 48px;
    left: 50px;
    top: 40px;

    float: left;

    font-family: 'Krona One';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 117.68%;
    /* or 24px */

    color: #000000;
}

.question {
    /* question 1 */

    position: relative;
    width: 44px;
    height: 44px;
    right: 50px;
    top: 50px;

    float: right;

}

header {
    background-color: white;
}

.main {
    position: relative;
    height: 300px;
    width: 250px;
    margin-top: 100px;
    margin-left: auto;
    margin-right: auto;
}

.ellipse {
    /* Ellipse 1 */
    position: absolute;
    width: 200px;
    height: 60px;
    left: 25px;
    top: 25px;


}

.sun {
    /* Group 7 */
    position: absolute;
    height: 35px;
    width: 35px;
    /* top: 10px; */

    /* left: 110px; */
    /* left: 60px; */
    top: 132.5px;
    left: 107.5px;
    transform: translateX(0px) translateY(-125px);



}


.light {
    /* Vector 2 */
    position: absolute;
    width: 80px;
    height: 80px;
    top: 110px;
    left: 85px;

    transform: translateX(-5px) translateY(-75px) rotate(-25deg);


}






.earth {
    /* image 1 */
    position: absolute;
    width: 100px;
    height: 100px;
    top: 100px;
    left: 75px;





}



.description {
    /* Click the buttons to play with the sun. take it left or take it right
     but dont take it home cause sun is home-sick! */

    position: relative;
    width: fit-content;
    height: auto;

    margin-top: 10px;
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 600;
    font-size: 15px;
    line-height: 20px;
    text-align: center;
    margin-bottom: 25px;
    color: #8E8E8E;
    margin-left: auto;
    margin-right: auto;

}



.leftbtn {
    /* Group 1 */

    position: relative;
    width: 251px;
    height: 53px;


    background: #2E3A59;
    border-radius: 33px;

    font-family: 'Krona One';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 20px;
    text-align: center;
    color: #FFFFFF;








}

.leftbtn:hover {
    background-color: green;
}

.rightbtn:hover {
    background-color: green;
}

.leftbtn:active {
    transform: translateY(4px);
}

.rightbtn:active {
    transform: translateY(4px);
}

.rightbtn {
    /* Group 2 */

    position: relative;
    width: 251px;
    height: 53px;


    background: #2E3A59;
    border-radius: 33px;
    font-family: 'Krona One';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 20px;
    text-align: center;
    color: #FFFFFF;


}

.btn {
    position: relative;
    margin-left: auto;
    margin-right: auto;
    max-width: fit-content;

}

@media screen and (max-width: 480px) {


    .btn {
        max-width: min-content;
    }
}

@media screen and (max-width: 450px) {
    .question {
        right: 20px;

    }

    .heading {
        left: 20px;
    }
}

/* Animation Left start*/


.aniLeft {

    position: absolute;
    height: 35px;
    width: 35px;
    /* top: 10px; */

    /* left: 110px; */
    /* left: 60px; */
    top: 132.5px;
    left: 107.5px;
    transform: translateX(0px) translateY(-125px);
    animation: moveLeft 3s 1 linear;




}



.aniLeftLight {

    position: absolute;
    width: 80px;
    height: 80px;
    top: 110px;
    left: 85px;

    transform: translateX(-5px) translateY(-75px) rotate(-25deg);
    animation: moveLeftLight 3s 1 linear;





}


/* Animation Left end */

/* Animation Right start */

.aniRight {


    position: absolute;
    height: 35px;
    width: 35px;
    /* top: 10px; */

    /* left: 110px; */
    /* left: 60px; */
    top: 132.5px;
    left: 107.5px;
    transform: translateX(0px) translateY(-125px);


    animation: moveRight 3s 1 linear;


}


.aniRightLight {


    position: absolute;
    width: 80px;
    height: 80px;
    top: 110px;
    left: 85px;

    transform: translateX(-5px) translateY(-75px) rotate(-25deg);


    animation: moveRightLight 3s 1 linear;


}



/* Animation Right end */


@keyframes moveLeft {
    0% {
        transform: rotate(0deg) translateY(-125px) rotate(0deg);
    }



    100% {
        transform: rotate(-60deg) translateY(-105px) rotate(-90deg);
    }


}


@keyframes moveLeftLight {
    0% {
        transform: rotate(0deg) translateX(-5px) translateY(-75px) rotate(-25deg);
    }



    100% {
        transform: rotate(-50deg) translateX(-10px) translateY(-50px) rotate(-50deg);
    }

}

@keyframes moveRight {
    0% {
        transform: rotate(0deg) translateY(-125px) rotate(0deg);
    }



    100% {
        transform: rotate(60deg) translateY(-105px) rotate(90deg);
    }


}



@keyframes moveRightLight {
    0% {
        transform: rotate(0deg) translateX(-5px) translateY(-75px) rotate(-25deg);
    }



    100% {
        transform: rotate(15deg) translateX(20px) translateY(-50px) rotate(40deg);
    }

}